section {
	width:  100vw;
	height: 100vh;
	padding:  50px;
}

img {
	width: 350px;
	transition: opacity 1s ease-in-out;
}

img:hover {
	opacity: .5;
}

.col-text {
	column-count: 3;
}

#contact {
	margin-bottom: 2%;
}

#home {
	background-image: url("../images/work1.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

.contenedor {
	width: 100%;
}

